{
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": ["off"],
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "no-shadow": "off",
    "no-console": ["error", {
      "allow": ["info", "warn", "error"]
    }]
  }
}
